In [2]:
import os
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve, auc
import seaborn as sns
import pandas as pd
import cv2 as cv

In [ ]:
file_path = "../IRCCyN_IVC_DIBR_Videos_Scores.xls"

df_base= pd.read_excel(file_path, skiprows=[0])
nb = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32]
df_cleaned = df_base.drop(columns=nb)
df_videos = df_cleaned.drop(columns=['Unnamed: 33', 'std'])
df_videos = df_videos.rename(columns={'Unnamed: 0': 'Video'})
df_videos.head()

                            Video      MOS        CI
0  Fehn_c_Book_arrival_bh_8_to_10  2.21875  0.270256
1  Fehn_c_Book_arrival_bh_10_to_8  2.15625  0.301427
2   Fehn_c_Book_arrival_sh_8_to_9  3.40625  0.298299
3  Fehn_c_Book_arrival_sh_10_to_9  3.56250  0.258958
4  Fehn_i_Book_arrival_bh_8_to_10  2.03125  0.280474